.title-box__button-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.title-box__button-back {
  position: absolute;
  top: -0.2rem;
  padding: 0;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-box__button-back--hover:hover {
  opacity: 0.8;
}
