.two-factor-form__container {
  text-align: center;
  width: 100%;
}

.two-factor-form__code-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2.8rem;
}

.two-factor-form__digit-input {
  width: 42px;
  height: 60px;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.two-factor-form__digit-input:first-child {
  margin-left: 0;
}

.two-factor-form__digit-input:last-child {
  margin-right: 0;
}

.two-factor-form__digit-input:focus {
  outline: none;
}

.two-factor-form__button {
  margin-top: 1rem;
}

.two-factor-form__button--disabled {
  background-color: grey;
  cursor: not-allowed;
}

.two-factor-form__error-message {
  margin-top: 0.6rem;
  margin-bottom: 1.1rem;
  font-size: 0.95rem;
  color: red;
  float: left;
}
